@media all
{
.nav 
{
    height: 5vh;
}
.body
{
    background-color: whitesmoke;
}
    .underline
    {
        text-decoration: underline;
    }
    #body
    {
        position: absolute;
        top: 9.3vh;
        left: 25%;
        z-index: 0;
        width: 48%;
        height: 75.5vh;
        padding: 2% 5%;
        border-radius: 5px;
        overflow-y: scroll;
        overflow-x: inherit;
        background-color: rgb(255, 255, 255);
        border-left: solid 1px rgb(245, 245, 245);
        border-right: solid 1px rgb(245, 245, 245);
        text-align: left;
        font-family: 'Athiti';
    
    }
    #body:hover
    {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.062), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #body img 
    {
        float: right;
        margin-right: 0%;
    }
    #body:hover::-webkit-scrollbar-thumb 
    {
        display: block;
        background: none;
    }
.body
{
    width: 100%;
    margin: 0;
}
#side_nav
{
    position: relative;
    width: 17%;
    height: 83vh;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: inherit;
    border-radius: 1px;
    /*border-right: solid 1px rgb(226, 226, 226);*/
    background-color: rgb(250, 250, 250);
    text-align: left;
}
::-webkit-scrollbar 
{
    width: 10px;
    background: rgb(221, 221, 221);
}
::-webkit-scrollbar-thumb 
{
    display: none;
}
#side_nav:hover::-webkit-scrollbar-thumb 
{
    display: block;
    background: rgb(221, 221, 221);
}
#side_nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#side_nav ul li
{
    padding: 7% 0%;
    border-radius: 0px;
    text-align: left;
    vertical-align: middle;
    /*padding: 6% 14%;*/
    margin: 0;

}
#side_nav ul li:hover
{
    background-color: rgb(182, 216, 245);
    border-radius: 3px;
}
#side_nav ul li a
{
    position: relative;
    display: inline;
    color: #333333;
    margin-left: 7%;
    padding-right: 10%;
    padding-left: 1%;
    padding-top: 7%;
    padding-bottom: 7%;
    vertical-align: middle;
    text-decoration: none;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Athiti';
}
#side_nav ul li:hover a
{
    color: blue;
    transition: all 0.5s ease-in;
}
#side_nav ul li img
{
    display: inline;
    vertical-align: middle;
    margin-right: 8%;
}
.subUl
{
    border-bottom: solid 1px rgb(226, 226, 226);
    padding-bottom: 5%;
}
.projectUl
{
    border-bottom: solid 1px rgb(226, 226, 226);
}
.sideLabel
{
    position: relative;
    left: 5%;
    top: .2em;

    position: relative;
    display: inline;
    vertical-align: middle;
    color: #999999;
    margin: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 12pt;
    font-weight: normal;
    font-family: 'Athiti';
    letter-spacing: 1px;
}

.searchBox
{
    width: 40%;
    left: 32%;
    top: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.062), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}
.tail
{
    top: 0vh;
}
}