#side_nav{
    width: 6.5em;
}
.burgerDiv
{
    margin-left: 2.4em;
}
#side_nav ul li
{
    padding: 5% 0%;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}
#side_nav ul li a
{
    padding-right: 0%;
    padding-left: 0;
    padding-bottom: 6%;
    position: relative;
    display: block;
    color: #777777;
    text-decoration: none;
    font-size: 10pt;
    font-weight: normal;
    font-family: 'Athiti';
    text-align: center;
    letter-spacing: 0px;
}
#side_nav ul li a img
{
    padding-left: .4em;
}
.sideLabel
{
    left: .7em;
    top: .2em;
    letter-spacing: 1px;
    font-size: 10pt;
    font-weight: normal;
}
.subUl li a
{
    display: none;
}
